[Unit]
Description=gdnsd Authoritative DNS server
After=network.target

[Service]
Type=forking

ExecStart=/usr/sbin/gdnsd start
TimeoutSec=300
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
